<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Recette</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">
    <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static '/css/pricing.css' %}" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-5">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Recipes</h1>
      <p class="fs-5 text-muted"> Type Ingredients you Have and Pick a recipie</p>
      
      <div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <table>
                    {{ view.formset }}
                </table>
                <button type="submit" class="btn btn-primary"> Find Recipes </button>
            </form>
        </div>
    </div>
    </div>
  </header>

  <main>
    {% if form.initial and not recipes|length %}
    <div class="col">
    <div class="card  rounded-3 shadow-sm border-primary">
      <div class="text-center">
        <img src=""class="card-img-top" style="width:50%;margin:0px auto">
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title text-center"> You are short of ingredients: 
           Try adding some more ingredients. </h5>
      </div>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-2 mb-4">

    {% for card in recipes %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="text-center" style="padding-top: 20px;">
            <img src="{{ card.image }}" class="card-img-top" style="width:50%;margin:0px auto">
          </div>
          <div class="card-body">
            <h5 class="card-title pricing-card-title text-center">{{ card.name }}</h5>
            <div  class="text-center">
                <li style="list-style-type: none;"> <b>Portion For </b> {{ card.people_quantity }} </li>
                <li style="list-style-type: none;"> <b>Rating:</b> {{card.rate}}</li>
            </div>
            <p class="card-title pricing-card-title"> </p>
              <ul style="">
              {% for ingredient in card.ingredients %}
                <li > {{ ingredient.ingredient }}
                     {% if ingredient.missing  %}
                        <a href={{ingredient.img}} target="_Blank"> [Missing]</a>
                      {% endif %} </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>


  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
  </footer>
</div>
</body>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media }}
<style>
    .select2 { width: 100% !important}
</style>
<script>
    (function($) {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function() {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
</script>

</html>
